<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="tests/bootstrap.php" defaultTestSuite="default" cacheResult="false" colors="true">
  <coverage>
    <include>
      <directory suffix=".php">./src/</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="default">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
