# this is an evironment example file, it helps to run integration environment

# to perform login
SAT_AUTH_RFC=""
SAT_AUTH_CIEC=""

# location of the http log files, use something as build/httplogs,
# if empty no log files will be created, if start with '/' is an absolute path, otherwise is relative to project folder
SAT_HTTPDUMP_FOLDER="build/httplogs"

# captcha resolver: "console", "local", ""decaptcher", "anticaptcha"
CAPTCHA_RESOLVER="console"

# captcha resolver decaptcher setup
DECAPTCHER_USERNAME=""
DECAPTCHER_PASSWORD=""

# captcha resolver anticaptcha setup
ANTICAPTCHA_CLIENT_KEY=""
ANTICAPTCHA_CLIENT_TIMEOUT="30"

# captcha local resolver, run the service and open your browser at http://localhost:9595/
# you can get this service on https://github.com/eclipxe/captcha-local-resolver
CAPTCHA_LOCAL_HOST="localhost"
CAPTCHA_LOCAL_PORT="9595"
CAPTCHA_LOCAL_TIMEOUT="30"
