# this is an evironment example file, it helps to run integration environment
# locations start with '/' are absolute paths, otherwise are relative paths to project folder

# use "CIEC" or "FIEL"
SAT_AUTH_MODE="FIEL"

# to perform login using FIEL (certificate file, private key file and password file)
SAT_FIEL_CER="build/fiel/00001000000509076618.cer"
SAT_FIEL_KEY="build/fiel/00001000000509076618.key"
SAT_FIEL_PWD="build/fiel/00001000000509076618.pwd"

# to perform login using CIEC
SAT_AUTH_RFC=""
SAT_AUTH_CIEC=""

# location of the http log files, use something as "build/httplogs"
# if empty, no log files will be created
SAT_HTTPDUMP_FOLDER=""

# captcha resolver: "console", "local", "anticaptcha"
CAPTCHA_RESOLVER="console"

# anticaptcha set up
ANTICAPTCHA_CLIENT_KEY=""
# ANTICAPTCHA_INITIAL_WAIT="4"
# ANTICAPTCHA_TIMEOUT="60"
# ANTICAPTCHA_WAIT="2000"

# captcha local resolver set up, run the service and open your browser at http://localhost:9595/
# you can get this service on https://github.com/eclipxe/captcha-local-resolver
CAPTCHA_LOCAL_URL="localhost:9595"
# CAPTCHA_LOCAL_INITIAL_WAIT="5"
# CAPTCHA_LOCAL_TIMEOUT="90"
# CAPTCHA_LOCAL_WAIT="500"

